<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.audiso.jarvis-cursor-worker</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/Mac/Audiso/marketing-pipeline/scripts/mac-cursor-worker-start.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>30</integer>
  <key>StandardOutPath</key>
  <string>/Users/Mac/Audiso/marketing-pipeline/pipeline_data/jarvis_memory/episodes/worker-launchagent.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/Mac/Audiso/marketing-pipeline/pipeline_data/jarvis_memory/episodes/worker-launchagent.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>AUDISO_GLOBAL</key>
    <string>/Users/Mac/Audiso/audiso-global</string>
    <key>JARVIS_ROOT</key>
    <string>/Users/Mac/Audiso/marketing-pipeline</string>
    <key>JARVIS_WORKER_NAME</key>
    <string>macbook-pro-audiso</string>
    <key>JARVIS_WORKER_FOREGROUND</key>
    <string>1</string>
    <key>PATH</key>
    <string>/Users/Mac/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
</dict>
</plist>
